<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">
 
  <!-- do not use import statements if CXFServlet init parameters link to this beans.xml --> 
 
  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
 
  <jaxrs:server id="artistManager" address="/Artist">
    <jaxrs:serviceBeans>
      <ref bean="artistBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <jaxrs:server id="showManager" address="/Show">
    <jaxrs:serviceBeans>
      <ref bean="showBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <jaxrs:server id="showOrganisatorManager" address="/ShowOrganisator">
    <jaxrs:serviceBeans>
      <ref bean="showOrganisatorBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <jaxrs:server id="placeManager" address="/Place">
    <jaxrs:serviceBeans>
      <ref bean="placeBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <jaxrs:server id="ticketManager" address="/Ticket">
    <jaxrs:serviceBeans>
      <ref bean="ticketBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <jaxrs:server id="clientManager" address="/Client">
    <jaxrs:serviceBeans>
      <ref bean="clientBean" />
    </jaxrs:serviceBeans>
  </jaxrs:server>
  
<!--  <jaxrs:server id="Order" address="/Order"> -->
<!--     <jaxrs:serviceBeans> -->
<!--       <ref bean="orderBean" /> -->
<!--     </jaxrs:serviceBeans> -->
<!--   </jaxrs:server> -->
  <bean id="artistBean" class="billetterie_interfaceREST.ArtistManager" />
  <bean id="showBean" class="billetterie_interfaceREST.ShowManager" />
  <bean id="showOrganisatorBean" class="billetterie_interfaceREST.ShowOrganisatorManager" />
  <bean id="placeBean" class="billetterie_interfaceREST.PlaceManager" />
  <bean id="ticketBean" class="billetterie_interfaceREST.TicketManager" />
  <bean id="clientBean" class="billetterie_interfaceREST.ClientManager" />

</beans>
