<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">PWA_is_cool</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/devoir_pwa</property>
        <property name="hibernate.connection.username">PWA</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
<!--         <property name="hibernate.hbm2ddl.auto">create</property> -->
        
        <mapping resource="billetterie_console/Artist.hbm.xml"/>
        <mapping resource="billetterie_console/Band.hbm.xml"/>
        <mapping resource="billetterie_console/Client.hbm.xml"/>
        <mapping resource="billetterie_console/PersonArtist.hbm.xml"/>
        <mapping resource="billetterie_console/Place.hbm.xml"/>
        <mapping resource="billetterie_console/Show.hbm.xml"/>
        <mapping resource="billetterie_console/ShowOrganisator.hbm.xml"/>
        <mapping resource="billetterie_console/Ticket.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
